*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #009688;
}
#app {
  margin: 20px auto;
  background-color: aliceblue;
  width: 80%;
  height: 100vh;
  display: flex;
}

.container-left {
  width: 350px;
}
.container-right {
  width: calc(100% - 350px);
  background-image: url(../img/mine.jpg);
  object-fit: cover;
}

.profilo img, .openProfile img {
  width: 70px;
  border-radius: 50px;
  margin-left: 10px;

}

.profilo {
  height: 100px;
  background-color:  #dadbd4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting ul {
  display: flex;
}

.setting li {
  margin: 20px;
  list-style-type: none;
  color:  gray;
}

.info{
  background-color: rgb(145 219 250);
  height: 80px;
  display: flex;
  align-items: center;
}

.text a {
  color: grey;
}

.icona {
  margin-left:20px ;
}
.text {
  margin-left: 20px;
}

.icona{
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.fa-bell-slash {
  color: rgb(145 219 250);
  font-size: 20px;
}

.search {
  height: 60px;
  background-color: white;
  display: flex;
}
.search button {
  width: 50px;
}

.search input {
  width: 100%;
 
}

.box img {
  width: 76px;
  border-radius: 50px;
}
.box {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: white;
  justify-content:space-around;
}

.setting_1 ul {
  display: flex;
}

.setting_1 li {
  margin: 20px;
  list-style-type: none;
  color: gray;
}

.openProfile {
  height: 100px;
  background-color:  #dadbd4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  display: flex;
  align-items: center;
}

footer li {
  list-style-type: none;
  margin-left: 20px;
}

footer {
  background-color:rgb(243 238 234);
  height: 80px;
  display: flex;
  align-items: center;
}

.fa-face-smile, .fa-microphone{
  color: grey;
  font-size: 25px;
}

.msg {
  width: 400px;
  height: 40px;
}






